@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using OpenHabitTracker.Blazor.Layout
@using OpenHabitTracker.Blazor.Wasm.Layout

@* <CascadingAuthenticationState> *@
    <Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="new[] { typeof(OpenHabitTracker.Blazor.Pages.Home).Assembly }">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            @* <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p role="alert">You are not authorized to access this resource.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView> *@
        </Found>
        <NotFound>
            <PageTitle>OpenHabitTracker - Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
@* </CascadingAuthenticationState> *@
