@page "/about"

@inject IStringLocalizer Loc
@inject ILinkAttributeService LinkAttributeService

<PageTitle>OpenHabitTracker - About</PageTitle>

<div @ref="WrapperElement" class="col child-column px-0 px-md-1">
    <div class="my-1">

        <h2>@Loc["About"]</h2>

        <h5><a href="https://openhabittracker.net/"><i class="bi bi-globe"></i> https://openhabittracker.net</a></h5>

        <h5><a href="https://github.com/Jinjinov/OpenHabitTracker"><i class="bi bi-github"></i> GitHub</a></h5>

        <h5><span class="" style="font-family: 'Caveat', cursive; font-size: 1.5em;">OpenHabitTracker</span> @Loc["is free, open source and works on Web, Windows, Linux, Android, iOS and macOS!"]</h5>

        <h5>@Loc["Take Markdown notes, plan tasks, track habits."]</h5>

        <h5>@Loc["Elapsed time to repeat interval ratio"]:</h5>
        <ul>
            <li>@Loc["elapsed time is not a good indicator for urgency"]</li>
            <li>@Loc["elapsed time to repeat interval ratio is a much better indicator for urgency"]</li>
            <li>@Loc["together with setting the priority, you have a very good overview on what to do next"]</li>
        </ul>

        <h5>@Loc["Advanced search, filter and sort"]</h5>

        <h5>@Loc["Localized in 4 languages"]:</h5>
        <ul>
            <li>@Loc["German"]</li>
            <li>@Loc["English"]</li>
            <li>@Loc["Spanish"]</li>
            <li>@Loc["Slovenian"]</li>
        </ul>

        <h5>@Loc["Available in 26 themes"]</h5>

        <h5>@Loc["Import / Export"]:</h5>
        <ul>
            <li>Markdown</li>
            <li>YAML</li>
            <li>JSON</li>
            <li>TSV</li>
        </ul>

        <h5>@Loc["Import from Google Keep"]</h5>

        <h3>@Loc["Privacy"]:</h3>
        <ul>
            <li><span style="font-family: 'Caveat', cursive; font-size: 1.5em;">OpenHabitTracker</span> @Loc["saves your data (notes, tasks and habits) on your device, offering you complete privacy."]</li>
            <li>@Loc["It allows you to delete the data stored on your device at any time."]</li>
            <li>@Loc["It doesn't use an online database and because of that automatic backup and automatic sync with your other devices are not possible."]</li>
            <li>@Loc["It is available on 6 platforms and on some platforms it can backup your data to your Google Drive."]</li>
            <li>@Loc["If you allow it to backup your data to your Google Drive, it will receive your email and display your name only on your device."]</li>
            <li>@Loc["You can read the privacy policy at"] <a href="https://openhabittracker.net/privacy-policy.html" target="_blank">https://openhabittracker.net/privacy-policy.html</a></li>
        </ul>

        <span>Jinjinov © 2024</span>

    </div>
</div>

@code {
    private ElementReference WrapperElement;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LinkAttributeService.AddAttributesToLinks(WrapperElement);
        }
    }
}
