@page "/about"

@using OpenHabitTracker.Services

@inject IStringLocalizer Loc
@inject ILinkAttributeService LinkAttributeService
@inject SettingsService SettingsService

<PageTitle>OpenHabitTracker - About</PageTitle>

<div @ref="WrapperElement" class="@($"col child-column px-0 px-md-{SettingsService.Settings.HorizontalMargin}")">
    <div class="my-1">

        <h3><span class="" style="font-family: 'Caveat', cursive; font-size: 1.5em;">OpenHabitTracker</span></h3>

        <h6>@Loc["Version"] 1.0.8</h6>

        <h5>@Loc["Take Markdown notes, plan tasks, track habits"]:</h5>

        <ul>
            <li>@Loc["Free and Ad-Free"]: <a href="https://openhabittracker.net/">https://openhabittracker.net</a></li>
            <li>@Loc["Open Source"]: <a href="https://github.com/Jinjinov/OpenHabitTracker">https://github.com/Jinjinov/OpenHabitTracker</a></li>
            <li>@Loc["Privacy Focused: All user data is stored locally on your device"]</li>
            <li>@Loc["Available on Windows, Linux, Android, iOS, macOS, and as a web app"]</li>
            <li>@Loc["Localized to English, German, Spanish, Slovenian"]</li>
        </ul>

        <h5> @Loc["Key Features"]:</h5>

        <ul>
            <li>@Loc["Markdown support for notes"]</li>
            <li>@Loc["Use categories and priorities to organize your notes, tasks, and habits"]</li>
            <li>@Loc["Advanced Search, Filter, and Sort"]</li>
            <li>@Loc["Data Export/Import: JSON, YAML, TSV, Markdown"]</li>
            <li>@Loc["Import your notes from Google Keep"]</li>
            <li>@Loc["Available in 26 themes with Dark and Light modes"]</li>
        </ul>

        <h3>@Loc["Privacy"]:</h3>
        <ul>
            <li><span style="font-family: 'Caveat', cursive; font-size: 1.5em;">OpenHabitTracker</span> @Loc["saves your data (notes, tasks and habits) on your device, offering you complete privacy."]</li>
            <li>@Loc["It allows you to delete the data stored on your device at any time."]</li>
            <li>@Loc["It doesn't use an online database and because of that automatic backup and automatic sync with your other devices are not possible."]</li>
            <li>@Loc["It is available on 6 platforms and on some platforms it can backup your data to your Google Drive."]</li>
            <li>@Loc["If you allow it to backup your data to your Google Drive, it will receive your email and display your name only on your device."]</li>
            <li>@Loc["You can read the privacy policy at"] <a href="https://openhabittracker.net/privacy-policy.html" target="_blank">https://openhabittracker.net/privacy-policy.html</a></li>
        </ul>

        <span>© 2024 Jinjinov</span>

    </div>
</div>

@code {
    private ElementReference WrapperElement;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LinkAttributeService.AddAttributesToLinks(WrapperElement);
        }
    }
}
