@page "/habits"
@page "/habits/{Id:long}"

@using GTour.Abstractions
@using OpenHabitTracker.App
@using OpenHabitTracker.Data
@using OpenHabitTracker.Data.Models
@using OpenHabitTracker.Services
@using Microsoft.JSInterop

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject HabitService HabitService
@inject ClientState ClientState
@inject JsInterop JsInterop
@inject SearchFilterService SearchFilterService
@inject IStringLocalizer Loc
@inject PriorityService PriorityService
@inject IGTourService GTourService

<PageTitle>OpenHabitTracker - Habits</PageTitle>

<div @ref="columnRef" class="@($"col child-column px-0 px-md-{ClientState.Settings.HorizontalMargin}")">

    @* <small class="m-1">@Loc["Add new habit"]</small> *@

    @if (HabitService.NewHabit is null)
    {
        <button class="btn input-group d-flex flex-nowrap my-1 p-0" @onclick="AddNew">
            <span class="input-group-text fw-bold text-primary flex-grow-1">@Loc["Add new habit"]</span>

            <span class="btn btn-outline-primary"><i class="bi bi-plus-square"></i></span>
        </button>
    }
    @if (HabitService.NewHabit is not null)
    {
        <div class="@($"my-1 {HabitService.NewHabit.Color}")">
            <div class="input-group">
                <PriorityComponent Model="HabitService.NewHabit" />

                <InputTextImmediate class="form-control" @ref="inputElement" @bind-Value="HabitService.NewHabit.Title" placeholder="@Loc["Add new habit"]" />

                <button class="btn btn-outline-primary" @onclick="HabitService.AddHabit" disabled="@string.IsNullOrWhiteSpace(HabitService.NewHabit.Title)"><i class="bi bi-floppy"></i></button>
                <button class="btn btn-outline-primary" @onclick="() => HabitService.NewHabit = null"><i class="bi bi-x-square"></i></button>
            </div>

            <div class="input-group">
                <label class="input-group-text bg-transparent" for="countInput">@Loc["Repeat"]</label>
                <InputNumber class="form-control" id="countInput" @bind-Value="HabitService.NewHabit.RepeatCount" />

                <label class="input-group-text bg-transparent" for="intervalInput">@Loc["every"]</label>
                <InputNumber class="form-control" id="intervalInput" @bind-Value="HabitService.NewHabit.RepeatInterval" />

                <InputSelect class="form-select" @bind-Value="HabitService.NewHabit.RepeatPeriod">
                    @foreach (Period period in Enum.GetValues<Period>())
                    {
                        <option value="@period">@Loc[period.ToString()]</option>
                    }
                </InputSelect>
            </div>

            <div class="input-group">
                <span class="input-group-text bg-transparent">@Loc["Duration"]</span>

                <InputSelect class="form-select" @bind-Value="HabitService.NewHabit.DurationHour" TValue="int">
                    @for (int i = 0; i <= 23; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </InputSelect>
                <span class="input-group-text bg-transparent">h</span>

                <InputSelect class="form-select" @bind-Value="HabitService.NewHabit.DurationMinute" TValue="int">
                    @for (int i = 0; i <= 59; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </InputSelect>
                <span class="input-group-text bg-transparent">min</span>
            </div>

            <div class="input-group flex-nowrap">
                <span class="input-group-text bg-transparent col-4">@Loc["Category"]</span>
                <CategoryComponent Model="HabitService.NewHabit" />
            </div>

            @if (ClientState.Settings.ShowColor)
            {
                <div class="input-group flex-nowrap">
                    <span class="input-group-text bg-transparent col-4">@Loc["Color"]</span>
                    <ColorComponent Model="HabitService.NewHabit" />
                </div>
            }
        </div>
    }

    @if (HabitService.Habits is null)
    {
        @* <p>Failed to load. Try refreshing.</p> *@
    }
    else if (columnWidth != 0)
    {
        <div class="d-grid align-items-center" style="grid-template-columns: 1fr auto 1fr;">
            <div></div>

            <div class="m-2 fs-4"><i class="bi bi-repeat"></i> @Loc["Habits"]</div>

            @if (ClientState.Settings.ShowHelp)
            {
                <small class="m-1 text-end" @onclick="@(() => StartTour("habits"))"><i class="bi bi-question-circle"></i></small>
            }
        </div>

        foreach (HabitModel habit in HabitService.GetHabits())
        {
            bool showHabitComponent = !_showSecondColumn && habit.Id == Id && HabitService.NewHabit is null;

            <div class="@($"my-{ClientState.Settings.VerticalMargin} {(showHabitComponent ? "" : "d-flex")}")">
                @if (showHabitComponent)
                {
                    <HabitComponent Habit="habit" CloseSelected="CloseSelected" />
                }
                else
                {
                    <div class="@($"w-100 {habit.Color}")">
                        <div class="input-group flex-nowrap" style="@($"{(_displayBasedOnWidth && ClientState.Settings.ShowSmallCalendar ? "height: 50px;" : "")}")">
                            <span class="input-group-text bg-transparent" data-habits-step-1>@PriorityService.GetPriorityTitle(habit.Priority)</span>
                            <button class="input-group-text bg-transparent flex-grow-1 text-wrap highlightable" @onclick="() => OpenSelected(habit.Id)" data-habits-step-2>@((MarkupString)SearchFilterService.MarkSearchResults(habit.Title))</button>

                            @{
                                string color = habit.GetRatio(ClientState.Settings.SelectedRatio) switch
                                {
                                    >= 100 => "bg-danger-subtle",
                                    >= 80 => "bg-warning-subtle",
                                    _ => "bg-success-subtle"
                                };
                            }
                            <small class="@($"input-group-text {color}")" data-habits-step-3>
                                @(habit.LastTimeDoneAt is not null ? ToHighestValueString(habit.ElapsedTime) : "⊘")
                                (@habit.GetRatio(ClientState.Settings.SelectedRatio).ToString("N0")%)
                            </small>

                            @if (!ClientState.Settings.ShowSmallCalendar)
                            {
                                <button class="btn btn-outline-primary" @onclick="() => HabitService.MarkAsDone(habit)" data-habits-step-4><i class="bi bi-check-square"></i></button>
                            }
                        </div>

                        @if (ClientState.Settings.ShowItemList)
                        {
                            <div data-habits-step-5>
                                <ItemsComponent Items=habit IsReadOnly=true />
                            </div>
                        }

                        @if (!_displayBasedOnWidth && ClientState.Settings.ShowSmallCalendar)
                        {
                            <div class="input-group-text bg-transparent p-0 border-0 rounded-0" data-habits-step-6>
                                <div class="mx-auto">
                                    <CalendarComponent Habit="habit" HabitChanged="StateHasChanged" ColumnWidth="columnWidth" />
                                </div>
                            </div>
                        }

                    </div>
                    if (_displayBasedOnWidth && ClientState.Settings.ShowSmallCalendar)
                    {
                        <div class="d-flex" data-habits-step-6>
                            <CalendarComponent Habit="habit" HabitChanged="StateHasChanged" ColumnWidth="columnWidth" DisplayBasedOnWidth />
                        </div>
                    }
                }
            </div>
        }
    }

    @if (ClientState.Settings.ShowHelp)
    {
        <GuidedTourComponent TourId="habits" TourSteps="tourSteps" />
    }

</div>

@if (_showSecondColumn)
{
    <div class="col child-column px-0 px-md-1 py-1">
        @if (_showHabitComponent)
        {
            <HabitComponent Habit="HabitService.SelectedHabit" HabitChanged="StateHasChanged" CloseSelected="CloseSelected" />
        }
        @* else
        {
            <p>Stats:</p>

            foreach (CategoryModel category in CategoryService.Categories)
            {

            }
        } *@
    </div>
}

@code {
    TourStep[] tourSteps;

    public Habits()
    {
        tourSteps = new TourStep[]
        {
            new() { Text = "Habit's priority." },
            new() { Text = "Habit's title." },
            new() { Text = "The time elapsed since the habit was last completed and the habit's selected interval ratio. The interval ratio can be set in Search, Filter, Sort." },
            new() { Text = "Mark the habit as done.", Show = () => !ClientState.Settings.ShowSmallCalendar },
            new() { Text = "Habit's items.", Show = () => ClientState.Settings.ShowItemList },
            new() { Text = "Click on a day on the small calendar to mark the habit as done.", Show = () => ClientState.Settings.ShowSmallCalendar },
            new() { Text = "Set the habit's priority.", Show = () => _showHabitComponent },
            new() { Text = "Change the habit's title.", Show = () => _showHabitComponent },
            new() { Text = "Mark the habit as done.", Show = () => _showHabitComponent && !ClientState.Settings.ShowSmallCalendar },
            new() { Text = "Delete the habit.", Show = () => _showHabitComponent },
            new() { Text = "Close the habit.", Show = () => _showHabitComponent },
            new() { Text = "Habit's items.", Show = () => _showHabitComponent },
            new() { Text = "Click on a day on the large calendar to mark the habit as done.", Show = () => _showHabitComponent && ClientState.Settings.ShowLargeCalendar },
            new() { Text = "Set the habit's desired repeat interval.", Show = () => _showHabitComponent },
            new() { Text = "Set the habit's desired duration.", Show = () => _showHabitComponent },
            new() { Text = "Start the timer to start timing the habit's duration. Stopping the timer completes the habit.", Show = () => _showHabitComponent },
            new() { Text = "Time spent on the habit.", Show = () => _showHabitComponent },
            new() { Text = "The time elapsed since the habit was last completed.", Show = () => _showHabitComponent },
            new() { Text = "Habit's desired repeat interval.", Show = () => _showHabitComponent },
            new() { Text = "Habit's average repeat interval.", Show = () => _showHabitComponent },
            new() { Text = "The ratio of habit's average repeat interval to the habit's desired repeat interval.", Show = () => _showHabitComponent },
            new() { Text = "How many times was the habit completed and when was the habit last completed.", Show = () => _showHabitCompletedTimes },
            new() { Text = "Set the habit's category.", Show = () => _showHabitComponent },
            new() { Text = "Set the habit's color.", Show = () => _showHabitComponent && ClientState.Settings.ShowColor },
            new() { Text = "The date when the habit was created and the date when the habit was last updated.", Show = () => _showHabitComponent && ClientState.Settings.ShowCreatedUpdated },
        };
    }

    private async Task StartTour(string tourId)
    {
        await GTourService.StartTour(tourId);
    }

    [Parameter]
    public long? Id { get; set; }

    [Parameter]
    public bool IsEmbedded { get; set; }

    [CascadingParameter(Name = "StateChanged")]
    public bool StateChanged { get; set; }

    [CascadingParameter(Name = "WindowDimensions")]
    public Dimensions? WindowDimensions { get; set; }

    [CascadingParameter(Name = "DynamicComponentType")]
    public Type? DynamicComponentType { get; set; }

    string? _dynamicComponentTypeName;

    bool _showSecondColumn => !IsEmbedded && WindowDimensions?.Width >= 1280;

    bool _displayBasedOnWidth => !IsEmbedded && columnWidth >= 400;

    bool _showHabitComponent => Id is not null && HabitService.SelectedHabit is not null && HabitService.NewHabit is null;

    bool _showHabitCompletedTimes => Id is not null && HabitService.SelectedHabit is not null && HabitService.NewHabit is null && HabitService.SelectedHabit.TimesDone is not null && HabitService.SelectedHabit.LastTimeDoneAt is not null;

    InputTextImmediate? inputElement;

    bool shouldFocus;

    protected override async Task OnInitializedAsync()
    {
        await HabitService.Initialize();
    }

    protected override async Task OnParametersSetAsync()
    {
        await HabitService.SetSelectedHabit(Id);
    }

    ElementReference columnRef;
    int columnWidth;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        bool dynamicComponentVisibilityChanged = (_dynamicComponentTypeName is null && DynamicComponentType is not null) || (_dynamicComponentTypeName is not null && DynamicComponentType is null);

        _dynamicComponentTypeName = DynamicComponentType?.Name;

        if (firstRender || dynamicComponentVisibilityChanged)
        {
            // use JsInterop to get the dimensions of the main div in this razor component
            Dimensions columnDimensions = await JsInterop.GetElementDimensions(columnRef);

            // columnWidth is needed for the CalendarComponent
            columnWidth = columnDimensions.Width;

            // TODO:: try to make it work without this
            // or at least move it up the hierarchy, before Habits render for the first time
            // or don't render habits if columnWidth == 0
            StateHasChanged();
            // TODO:: make it work without JsInterop and use @media for each day
            // even better: get <body> dimensions once at startup, calculate everything else from that
            // first render can be empty in MainLayout, with everything else rendering only if body dimensions are set
        }

        if (shouldFocus && inputElement?.Element is not null)
        {
            shouldFocus = false;
            await inputElement.Element.Value.FocusAsync();
        }
    }

    void AddNew()
    {
        HabitService.NewHabit = new() { Color = "bg-info-subtle" };
        shouldFocus = true;
    }

    async Task OpenSelected(long id)
    {
        if (IsEmbedded)
        {
            Id = id;
            await HabitService.SetSelectedHabit(Id);
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("skipNextScrollTo");

            NavigationManager.NavigateTo($"/habits/{id}");
        }
    }

    async Task CloseSelected()
    {
        if (IsEmbedded)
        {
            Id = null;
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("skipNextScrollTo");

            NavigationManager.NavigateTo("/habits");
        }
    }

    string ToHighestValueString(TimeSpan span)
    {
        return span.Days > 0 ? span.Days + " d"
                             : span.Hours > 0 ? span.Hours + " h"
                                              : span.Minutes + " m";
    }
}
