@page "/help"

@inject IStringLocalizer Loc

@* <PageTitle>OpenHabitTracker - Help</PageTitle> *@

<div>
    <div class="my-1">

        <div class="list-group">
            <div class="list-group-item"><i class="bi bi-list"></i> <span class="mx-3">@Loc["Menu"]</span></div>
            <div class="list-group-item"><i class="bi bi-card-text"></i> <span class="mx-3">@Loc["Notes"]</span></div>
            <div class="list-group-item"><i class="bi bi-card-checklist"></i> <span class="mx-3">@Loc["Tasks"]</span></div>
            <div class="list-group-item"><i class="bi bi-card-list"></i> <span class="mx-3">@Loc["Habits"]</span></div>
            <div class="list-group-item"><i class="bi bi-plus-square"></i> <span class="mx-3">@Loc["Add"]</span></div>
            <div class="list-group-item"><i class="bi bi-x-square"></i> <span class="mx-3">@Loc["Close"]</span></div>
            <div class="list-group-item"><i class="bi bi-check-square"></i> <span class="mx-3">@Loc["Done"]</span></div>
            <div class="list-group-item"><i class="bi bi-floppy"></i> <span class="mx-3">@Loc["Save"]</span></div>
            <div class="list-group-item"><i class="bi bi-trash"></i> <span class="mx-3">@Loc["Delete"]</span></div>
            <div class="list-group-item"><i class="bi bi-type"></i> <span class="mx-3">@Loc["Match case"]</span></div>
            <div class="list-group-item"><i class="bi bi-play"></i> <span class="mx-3">@Loc["Start"]</span></div>
            <div class="list-group-item"><i class="bi bi-arrow-counterclockwise"></i> <span class="mx-3">@Loc["Reset"]</span></div>
            <div class="list-group-item"><i class="bi bi-pause"></i> <span class="mx-3">@Loc["Pause"]</span></div>
            <div class="list-group-item"><i class="bi bi-stop"></i> <span class="mx-3">@Loc["Stop"]</span></div>
            <div class="list-group-item"><i class="bi bi-chevron-double-up"></i> <span class="mx-3">@Loc["Previous week"]</span></div>
            <div class="list-group-item"><i class="bi bi-chevron-double-left"></i> <span class="mx-3">@Loc["Previous month"]</span></div>
            <div class="list-group-item"><i class="bi bi-chevron-double-right"></i> <span class="mx-3">@Loc["Next month"]</span></div>
            <div class="list-group-item"><i class="bi bi-chevron-double-down"></i> <span class="mx-3">@Loc["Next week"]</span></div>
            <div class="list-group-item"><i class="bi bi-dash"></i> <span class="mx-3">@Loc["Decrease"]</span></div>
            <div class="list-group-item"><i class="bi bi-plus"></i> <span class="mx-3">@Loc["Increase"]</span></div>
            @* <div class="list-group-item"><i class="bi bi-globe"></i> <span class="mx-3">@Loc["Website"]</span></div> *@
            @* <div class="list-group-item"><i class="bi bi-github"></i> <span class="mx-3">@Loc["GitHub"]</span></div> *@
        </div>

    </div>
</div>

@code {

}
