@page "/help"

@using OpenHabitTracker.Services

@inject IStringLocalizer Loc
@inject SettingsService SettingsService

<PageTitle>OpenHabitTracker - Help</PageTitle>

<div class="@($"col child-column px-0 px-md-{SettingsService.Settings.HorizontalMargin}")">
    <div class="m-2">

        <h5>@Loc["Header"]:</h5>
        <ul class="list-unstyled">
            <li><i class="bi bi-three-dots-vertical"></i> <span class="mx-3">@Loc["Menu"]:</span>@Loc["toggle the menu on and off"]</li>
            <li><i class="bi bi-house"></i> <span class="mx-3">@Loc["Home"]:</span>@Loc["see all your items"]</li>
            <li><i class="bi bi-sticky"></i> <span class="mx-3">@Loc["Notes"]:</span>@Loc["see all your Notes"]</li>
            <li><i class="bi bi-list-task"></i> <span class="mx-3">@Loc["Tasks"]:</span>@Loc["see all your Tasks"]</li>
            <li><i class="bi bi-repeat"></i> <span class="mx-3">@Loc["Habits"]:</span>@Loc["see all your Habits"]</li>
        </ul>

        <h5>@Loc["Menu"]:</h5>
        <ul class="list-unstyled">
            <li><i class="bi bi-trash"></i> <span class="mx-3">@Loc["Trash"]:</span>@Loc["see all your deleted items"]</li>
            <li><i class="bi bi-search"></i> <span class="mx-3">@Loc["Search, Filter, Sort"]:</span>@Loc["Search, filter and sort all your items"]</li>
            <li><i class="bi bi-gear"></i> <span class="mx-3">@Loc["Settings"]:</span>@Loc["Adjust app appearance"]</li>
            <li><i class="bi bi-tag"></i> <span class="mx-3">@Loc["Categories"]:</span>@Loc["manage categories"]</li>
            <li><i class="bi bi-database"></i> <span class="mx-3">@Loc["Data"]:</span>@Loc["export, import or delete all your data"]</li>
        </ul>

        <h5>@Loc["Home"]:</h5>
        <ul class="list-unstyled">
            <li><i class="bi bi-sticky"></i> <span class="mx-3">@Loc["Notes"]:</span>@Loc["see all your Notes"]</li>
            <li><i class="bi bi-list-task"></i> <span class="mx-3">@Loc["Tasks"]:</span>@Loc["see all your Tasks"]</li>
            <li><i class="bi bi-repeat"></i> <span class="mx-3">@Loc["Habits"]:</span>@Loc["see all your Habits"]</li>
        </ul>

        <h5>@Loc["Notes"]:</h5>
        <ul class="list-unstyled">
            <li><i class="bi bi-plus-square"></i> <span class="mx-3">@Loc["Add new note"]</span></li>
            <ul style="list-style: none;">
                <li>@Loc["Set note priority (⊘,︾,﹀,—,︿,︽)"]</li>
                <li>@Loc["Add note title"]</li>
                <li><i class="bi bi-floppy"></i> <span class="mx-3">@Loc["Save new note"]</span></li>
                <li><i class="bi bi-x-square"></i> <span class="mx-3">@Loc["Cancel adding new note"]</span></li>
                <li>@Loc["Add note text"]</li>
                <li>@Loc["Set note category"]</li>
            </ul>
            <li>@Loc["Read only note"]</li>
            <ul style="list-style: none;">
                <li>@Loc["Note priority (⊘,︾,﹀,—,︿,︽)"]</li>
                <li>@Loc["Note title: click to enter edit mode"]</li>
                <li>@Loc["Note text: displayed as Markdown (HTTP links are clickable) if 'Display note content as Markdown' is checked in Settings"]</li>
            </ul>
            <li>@Loc["Edit note"]</li>
            <ul style="list-style: none;">
                <li>@Loc["Set note priority (⊘,︾,﹀,—,︿,︽)"]</li>
                <li>@Loc["Edit note title"]</li>
                <li><i class="bi bi-trash"></i> <span class="mx-3">@Loc["Delete note"]</span></li>
                <li><i class="bi bi-x-square"></i> <span class="mx-3">@Loc["Exit edit mode"]</span></li>
                <li>@Loc["Edit note text"]</li>
                <li>@Loc["Set note category"]</li>
            </ul>
        </ul>

        <h5>@Loc["Tasks"]:</h5>
        <ul class="list-unstyled">
            <li><i class="bi bi-plus-square"></i> <span class="mx-3">@Loc["Add new task"]</span></li>
        </ul>

        <h5>@Loc["Habits"]:</h5>
        <ul class="list-unstyled">
            <li><i class="bi bi-plus-square"></i> <span class="mx-3">@Loc["Add new habit"]</span></li>
        </ul>

        <h5>@Loc["Trash"]:</h5>
        <ul class="list-unstyled">
            <li><i class="bi bi-stop"></i> <span class="mx-3">@Loc["Stop"]</span></li>
        </ul>

        <h5>@Loc["Search, Filter, Sort"]:</h5>
        <ul class="list-unstyled">
            <li><i class="bi bi-search"></i> <span class="mx-3">@Loc["Search"]</span></li>
            <li><i class="bi bi-filter"></i> <span class="mx-3">@Loc["Filter"]</span></li>
            <li><i class="bi bi-arrow-down-up"></i> <span class="mx-3">@Loc["Sort"]</span></li>
        </ul>

        <h5>@Loc["Settings"]:</h5>
        <ul class="list-unstyled">
            <li><i class="bi bi-stop"></i> <span class="mx-3">@Loc["Stop"]</span></li>
        </ul>

        <h5>@Loc["Categories"]:</h5>
        <ul class="list-unstyled">
            <li><i class="bi bi-stop"></i> <span class="mx-3">@Loc["Stop"]</span></li>
        </ul>

        <h5>@Loc["Data"]:</h5>
        <ul class="list-unstyled">
            <li><i class="bi bi-stop"></i> <span class="mx-3">@Loc["Stop"]</span></li>
        </ul>

        <ul class="list-unstyled">
            <li><i class="bi bi-plus-square"></i> <span class="mx-3">@Loc["Add"]</span></li>
            <li><i class="bi bi-x-square"></i> <span class="mx-3">@Loc["Close"]</span></li>
            <li><i class="bi bi-check-square"></i> <span class="mx-3">@Loc["Done"]</span></li>
            <li><i class="bi bi-floppy"></i> <span class="mx-3">@Loc["Save"]</span></li>
            <li><i class="bi bi-trash"></i> <span class="mx-3">@Loc["Delete"]</span></li>
            <li><i class="bi bi-type"></i> <span class="mx-3">@Loc["Match case"]</span></li>
            <li><i class="bi bi-play"></i> <span class="mx-3">@Loc["Start"]</span></li>
            <li><i class="bi bi-arrow-counterclockwise"></i> <span class="mx-3">@Loc["Reset"]</span></li>
            <li><i class="bi bi-pause"></i> <span class="mx-3">@Loc["Pause"]</span></li>
            <li><i class="bi bi-stop"></i> <span class="mx-3">@Loc["Stop"]</span></li>
            <li><i class="bi bi-chevron-double-up"></i> <span class="mx-3">@Loc["Previous week"]</span></li>
            <li><i class="bi bi-chevron-double-left"></i> <span class="mx-3">@Loc["Previous month"]</span></li>
            <li><i class="bi bi-chevron-double-right"></i> <span class="mx-3">@Loc["Next month"]</span></li>
            <li><i class="bi bi-chevron-double-down"></i> <span class="mx-3">@Loc["Next week"]</span></li>
            <li><i class="bi bi-dash"></i> <span class="mx-3">@Loc["Decrease"]</span></li>
            <li><i class="bi bi-plus"></i> <span class="mx-3">@Loc["Increase"]</span></li>
        </ul>

    </div>
</div>

@code {
    [CascadingParameter(Name = "StateChanged")]
    public bool StateChanged { get; set; }

    [CascadingParameter(Name = "WindowDimensions")]
    public Dimensions? WindowDimensions { get; set; }
}
