@page "/menu"

@inject IStringLocalizer<Loc> Loc

@* <PageTitle>Menu</PageTitle> *@

<div>

    <div class="my-1">

        <div class="list-group">
            @* TODO:: close on navigation if WindowDimensions?.Width < 768 *@
            @if (WindowDimensions?.Width >= 1280 || WindowDimensions?.Width < 768)
            {
            <NavLink class="list-group-item list-group-item-action" href="/" Match=NavLinkMatch.All>@Loc["Notes, Tasks, Habits"]</NavLink>
            }
            <NavLink class="list-group-item list-group-item-action" href="notes">@Loc["Notes"]</NavLink>
            <NavLink class="list-group-item list-group-item-action" href="tasks">@Loc["Tasks"]</NavLink>
            <NavLink class="list-group-item list-group-item-action" href="habits">@Loc["Habits"]</NavLink>
            <NavLink class="list-group-item list-group-item-action" href="about">@Loc["About"]</NavLink>

            <button class="list-group-item list-group-item-action" @onclick="SelectComponent<Trash>">@Loc["Trash"]</button>
            <button class="list-group-item list-group-item-action" @onclick="SelectComponent<Search>">@Loc["Search, Filter, Sort"]</button>
            <button class="list-group-item list-group-item-action" @onclick="SelectComponent<Settings>">@Loc["Settings"]</button>
            <button class="list-group-item list-group-item-action" @onclick="SelectComponent<Categories>">@Loc["Categories"]</button>
            <button class="list-group-item list-group-item-action" @onclick="SelectComponent<Priorities>">@Loc["Priorities"]</button>
            <button class="list-group-item list-group-item-action" @onclick="SelectComponent<Backup>">@Loc["Backup"]</button>
            <button class="list-group-item list-group-item-action" @onclick="SelectComponent<Data>">@Loc["Data"]</button>
            <button class="list-group-item list-group-item-action" @onclick="SelectComponent<Help>">@Loc["Help"]</button>
        </div>

    </div>

</div>

@code {
    [Parameter]
    public Type? DynamicComponentType { get; set; }

    [Parameter]
    public EventCallback<Type?> DynamicComponentTypeChanged { get; set; }

    [Parameter]
    public Dimensions? WindowDimensions { get; set; }

    async Task SelectComponent<T>()
    {
        DynamicComponentType = typeof(T);

        await DynamicComponentTypeChanged.InvokeAsync(DynamicComponentType);
    }
}
