@page "/habits"
@page "/habits/{Id:long}"

@using Ididit.Data
@using Ididit.Data.Models
@using Ididit.Services
@using Microsoft.JSInterop

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject HabitService HabitService
@inject AppData AppData

<PageTitle>Habits</PageTitle>

<div class="col mh-100 overflow-auto px-0 px-md-1">

    @if (HabitService.EditHabit is null)
    {
        <button class="btn input-group d-flex flex-nowrap my-1 p-1" @onclick="() => { HabitService.EditHabit = new(); shouldFocus = true; }">
            <span class="input-group-text flex-grow-1">Add new habit</span>

            <span class="btn btn-outline-primary"><i class="bi bi-plus-square"></i></span>
        </button>
    }
    @if (HabitService.EditHabit is not null)
    {
        <div class="bg-body-tertiary my-1 py-1 px-0 px-md-1">
            <div class="input-group">
                <PriorityComponent Model="HabitService.EditHabit" />

                <InputTextImmediate class="form-control" @ref="inputElement" @bind-Value="HabitService.EditHabit.Title" placeholder="Add new habit" />

                <button class="btn btn-outline-primary" @onclick="HabitService.AddHabit" disabled="@string.IsNullOrWhiteSpace(HabitService.EditHabit.Title)"><i class="bi bi-floppy"></i></button>
                <button class="btn btn-outline-primary" @onclick="() => HabitService.EditHabit = null"><i class="bi bi-trash"></i></button>
            </div>

            <div class="input-group">
                <label class="input-group-text" for="countInput">Repeat</label>
                <InputNumber class="form-control" id="countInput" @bind-Value="HabitService.EditHabit.RepeatCount" />

                <label class="input-group-text" for="intervalInput">every</label>
                <InputNumber class="form-control" id="intervalInput" @bind-Value="HabitService.EditHabit.RepeatInterval" />

                <InputSelect class="form-select" @bind-Value="HabitService.EditHabit.RepeatPeriod">
                    @foreach (Period period in Enum.GetValues<Period>())
                    {
                        <option @key="period" value="@period">@period</option>
                    }
                </InputSelect>
            </div>

            <div class="input-group">
                <label class="input-group-text" for="durationInput">Duration</label>
                <InputDate class="form-control" id="durationInput" @bind-Value="HabitService.EditHabit.DurationProxy" Type="InputDateType.Time" />
            </div>

            <CategoryComponent Model="HabitService.EditHabit" />
        </div>
    }

    @if (HabitService.Habits is null)
    {
        <p>Loading...</p>
    }
    else
    {
        foreach (HabitModel habit in HabitService.Habits.Where(h => !h.IsDeleted))
        {
            <div class="bg-body-tertiary my-1 py-1 px-0 px-md-1">
                @if (habit.Id == Id && HabitService.EditHabit is null)
                {
                    <div class="input-group flex-nowrap">
                        <PriorityComponent Model="habit" />
                        <InputText class="form-control" @bind-Value="@habit.Title" />
                        <button class="btn btn-outline-primary" @onclick="() => ToggleSelected(habit.Id)"><i class="bi bi-floppy"></i></button>
                        <button class="btn btn-outline-primary" @onclick="() => HabitService.DeleteHabit(habit)"><i class="bi bi-trash"></i></button>
                        <button class="btn btn-outline-primary" @onclick="() => HabitService.MarkAsDone(habit)"><i class="bi bi-check-square"></i></button>
                    </div>

                    <ItemsComponent Items=habit />

                    if (habit.TimesDone is not null && habit.TimesDoneByDay is not null)
                    {
                        if (habit.LastTimeDoneAt is not null)
                        {
                            <div class="p-1 border" style="border-radius: var(--bs-border-radius)">
                                <small>Completed @habit.TimesDone.Count times, last time on @habit.LastTimeDoneAt</small>
                            </div>
                        }

                        <div class="input-group-text px-0 py-1 border-0">
                            <div class="mx-auto">
                                <CalendarComponent Habit="habit" HabitChanged="StateHasChanged" DisplayMonth DisplayDayNames WeekCount="6" />
                            </div>
                        </div>
                    }

                    <div class="input-group">
                        <label class="input-group-text" for="countInput">Repeat</label>
                        <InputNumber class="form-control" id="countInput" @bind-Value="habit.RepeatCount" />

                        <label class="input-group-text" for="intervalInput">every</label>
                        <InputNumber class="form-control" id="intervalInput" @bind-Value="habit.RepeatInterval" />

                        <InputSelect class="form-select" @bind-Value="habit.RepeatPeriod">
                            @foreach (Period period in Enum.GetValues<Period>())
                            {
                                <option @key="period" value="@period">@period</option>
                            }
                        </InputSelect>
                    </div>

                    <div class="input-group">
                        <label class="input-group-text" for="durationInput">Duration</label>
                        <InputDate class="form-control" id="durationInput" @bind-Value="habit.DurationProxy" Type="InputDateType.Time" />
                    </div>

                    <CategoryComponent Model="habit" />

                    <div class="p-1 border" style="border-radius: var(--bs-border-radius)">
                        <small class="d-inline-block mx-1">Created: @habit.CreatedAt</small>
                        <small class="d-inline-block mx-1">Updated: @habit.UpdatedAt</small>
                    </div>
                }
                else
                {
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text">@AppData.GetPriorityTitle(habit.Priority)</span>
                        <button class="input-group-text flex-grow-1 text-wrap" @onclick="() => ToggleSelected(habit.Id)">@habit.Title</button>
                        @if (habit.LastTimeDoneAt is not null)
                        {
                            <small class="input-group-text">@(habit.LastTimeDoneAt.Value.Date == DateTime.Now.Date ? habit.LastTimeDoneAt.Value.ToShortTimeString() : habit.LastTimeDoneAt.Value.ToShortDateString())</small>
                        }
                        @if (IsEmbedded)
                        {
                        <button class="btn btn-outline-primary" @onclick="() => HabitService.MarkAsDone(habit)"><i class="bi bi-check-square"></i></button>
                        }
                        else
                        {
                            <CalendarComponent Habit="habit" HabitChanged="StateHasChanged" WeekCount="3" DisplayBasedOnWidth />
                        }
                    </div>

                    if (IsEmbedded)
                    {
                    <div class="input-group-text px-0 py-1 border-0">
                        <div class="mx-auto">
                            <CalendarComponent Habit="habit" HabitChanged="StateHasChanged" WeekCount="1" />
                         </div>
                     </div>
                    }

                    <ItemsComponent Items=habit IsReadOnly=true />
                }
            </div>
        }
    }

</div>

@code {
    [Parameter]
    public long? Id { get; set; }

    [Parameter]
    public bool IsEmbedded { get; set; }

    InputTextImmediate? inputElement;

    bool shouldFocus;

    protected override async Task OnInitializedAsync()
    {
        await HabitService.Initialize();
    }

    protected override async Task OnParametersSetAsync()
    {
        await HabitService.SetSelectedHabit(Id);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (shouldFocus && inputElement?.Element is not null)
        {
            shouldFocus = false;
            await inputElement.Element.Value.FocusAsync();
        }
    }

    async Task ToggleSelected(long id)
    {
        if (IsEmbedded)
        {
            if (Id == id)
            {
                Id = null;
            }
            else
            {
                Id = id;
                await HabitService.SetSelectedHabit(Id);
            }
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("skipNextScrollTo");

            if (Id == id)
                NavigationManager.NavigateTo("/habits");
            else
                NavigationManager.NavigateTo($"/habits/{id}");
        }
    }
}
