@page "/habits"
@page "/habits/{Id:long}"

@using Ididit.Data.Models
@using Ididit.Services

@inject HabitService HabitService

<PageTitle>Habits</PageTitle>

<h1>Habits</h1>

<p><a href="/habits/add">Add habit</a></p>

@if (HabitService.Habits is null)
{
    <p>Loading...</p>
}
else
{
    <p>Habits: @HabitService.Habits.Where(h => !h.IsDeleted).Count()</p>

    foreach (HabitModel habit in HabitService.Habits.Where(h => !h.IsDeleted))
    {
        if (habit.Id == Id)
        {
            <p><a href="/habits">@habit.Title</a><button @onclick="() => HabitService.MarkAsDone(habit)">Done</button></p>

            <p><a href="/habits/@habit.Id/update">Update</a></p>

            <button @onclick="() => HabitService.DeleteHabit(habit)">Delete Habit</button>

            <p>CreatedAt: @habit.CreatedAt</p>
            <p>UpdatedAt: @habit.UpdatedAt</p>

            <p>CategoryId: @habit.CategoryId</p>
            <p>PriorityId: @habit.PriorityId</p>

            <p>RepeatCount: @habit.RepeatCount</p>
            <p>RepeatInterval: @habit.RepeatInterval</p>
            <p>RepeatPeriod: @habit.RepeatPeriod</p>

            if (habit.LastTimeDoneAt is not null)
            {
                <p>LastTimeDoneAt: @habit.LastTimeDoneAt</p>
            }

            <ItemsComponent Items=HabitService.SelectedHabit />

            if (habit.TimesDone is not null)
            {
                <p>Times done: @habit.TimesDone.Count</p>

                foreach(TimeModel time in habit.TimesDone)
                {
                    <p>StartedAt: @time.StartedAt</p>

                    if (time.CompletedAt is not null)
                    {
                        <p>CompletedAt: @time.CompletedAt</p>
                    }
                }
            }
        }
        else
        {
            <p><a href="/habits/@habit.Id">@habit.Title</a><button @onclick="() => HabitService.MarkAsDone(habit)">Done</button></p>
        }
    }
}

@code {
    [Parameter]
    public long? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await HabitService.Initialize();
    }

    protected override async Task OnParametersSetAsync()
    {
        HabitService.SetSelectedHabit(Id);
        await HabitService.LoadTimesDone(HabitService.SelectedHabit);
    }
}
