@page "/habits"
@page "/habits/{Id:long}"

@using Ididit.Data
@using Ididit.Data.Models
@using Ididit.Services
@using Microsoft.JSInterop

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject HabitService HabitService
@inject AppData AppData

<PageTitle>Habits</PageTitle>

<div class="col mh-100 overflow-auto px-1">

    <NavLink class="input-group text-decoration-none my-1 p-1" href="/habits/add">
        <span class="input-group-text flex-grow-1">Add new habit</span>

        <span class="btn btn-outline-primary"><i class="bi bi-plus-square"></i></span>
    </NavLink>

    @if (HabitService.Habits is null)
    {
        <p>Loading...</p>
    }
    else
    {
        foreach (HabitModel habit in HabitService.Habits.Where(h => !h.IsDeleted))
        {
            <div class="bg-body-tertiary my-1 p-1">
                @if (habit.Id == Id)
                {
                    <div class="input-group flex-nowrap">
                        <PriorityComponent Model="habit" />
                        <span class="input-group-text flex-grow-1 text-wrap" @onclick="() => ToggleSelected(habit.Id)">@habit.Title</span>
                        <NavLink class="btn btn-outline-primary" href="@($"/habits/{habit.Id}/update")"><i class="bi bi-pencil-square"></i></NavLink>
                        <button class="btn btn-outline-primary" @onclick="() => HabitService.DeleteHabit(habit)"><i class="bi bi-trash"></i></button>
                        <button class="btn btn-outline-primary" @onclick="() => HabitService.MarkAsDone(habit)"><i class="bi bi-check-square"></i></button>
                    </div>

                    <ItemsComponent Items=habit />

                    if (habit.LastTimeDoneAt is not null)
                    {
                        <div class="p-1 border" style="border-radius: var(--bs-border-radius)">
                            <small>Last time done: @habit.LastTimeDoneAt</small>
                        </div>
                    }

                    if (habit.TimesDone is not null && habit.TimesDoneByDay is not null)
                    {
                        <div class="p-1 border" style="border-radius: var(--bs-border-radius)">
                            <small>Times done: @habit.TimesDone.Count</small>
                        </div>

                        <div class="input-group-text">
                            <div class="mx-auto">

                                <div class="d-flex mb-1">
                                    <button class="btn btn-outline-primary" @onclick="SetCalendarStartToPreviousWeek"><i class="bi bi-chevron-double-up"></i></button>
                                    <button class="btn btn-outline-primary" @onclick="SetCalendarStartToPreviousMonth"><i class="bi bi-chevron-double-left"></i></button>
                                    <span class="flex-grow-1 d-flex" style="align-items: center; justify-content: center;">@_firstDayOfMonth.ToString("MMMM")</span>
                                    <button class="btn btn-outline-primary" @onclick="SetCalendarStartToNextMonth"><i class="bi bi-chevron-double-right"></i></button>
                                    <button class="btn btn-outline-primary" @onclick="SetCalendarStartToNextWeek"><i class="bi bi-chevron-double-down"></i></button>
                                </div>

                                <div class="bg-body d-flex">
                                    @for (int i = 0; i < 7; i++)
                                    {
                                        string day = _days[(i + (int)_firstDayOfWeek) % 7];
                                        <div @key="day" class="border d-flex" style="align-items: center; justify-content: center; height: 50px; width: 50px">@day</div>
                                    }
                                </div>

                                @for (int week = 0; week < 6; week++)
                                {
                                    <div class="d-flex">
                                        @for (int dayInWeek = 0; dayInWeek < 7; dayInWeek++)
                                        {
                                            DateTime dateTime = GetCalendarDayWithCaching(week, dayInWeek); // if not captured locally, day becomes the last value used in the loop

                                            string text = dateTime.Month != _firstDayOfMonth.Month ? "text-body-tertiary" : "";
                                            string border = dateTime.Date == DateTime.Today.Date ? "border-4 border-primary" : "";

                                            if (habit.TimesDoneByDay.TryGetValue(dateTime, out var list))
                                            {
                                                <div class="@($"border {border} {text} d-flex bg-success")"
                                                    style="align-items: center; justify-content: center; height: 50px; width: 50px; line-height: normal; flex-direction: column;"
                                                    @onclick="() => HabitService.AddTimeDone(habit, dateTime)">@dateTime.Day<small>(@list.Count)</small></div>
                                            }
                                            else // TODO: fix duplicate HTML elements - use C# variables instead of if/else
                                            {
                                                <div class="@($"border {border} {text} d-flex")"
                                                    style="align-items: center; justify-content: center; height: 50px; width: 50px; line-height: normal;"
                                                    @onclick="() => HabitService.AddTimeDone(habit, dateTime)">@dateTime.Day</div>
                                            }
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    }

                    <div class="input-group">
                        <label class="input-group-text" for="countInput">Repeat</label>
                        <InputNumber class="form-control" id="countInput" @bind-Value="habit.RepeatCount" />

                        <label class="input-group-text" for="intervalInput">times every</label>
                        <InputNumber class="form-control" id="intervalInput" @bind-Value="habit.RepeatInterval" />

                        <InputSelect class="form-select" @bind-Value="habit.RepeatPeriod">
                            @foreach (Period period in Enum.GetValues<Period>())
                            {
                                <option @key="period" value="@period">@period</option>
                            }
                        </InputSelect>
                    </div>

                    <div class="input-group">
                        <label class="input-group-text" for="durationInput">Duration</label>
                        <InputDate class="form-control" id="durationInput" @bind-Value="DurationProxy" Type="InputDateType.Time" />
                    </div>

                    <CategoryComponent Model="habit" />

                    <div class="p-1 border" style="border-radius: var(--bs-border-radius)">
                        <small>Created: @habit.CreatedAt</small>
                        <small>Updated: @habit.UpdatedAt</small>
                    </div>
                }
                else
                {
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text">@AppData.GetPriorityTitle(habit.Priority)</span>
                        <span class="input-group-text flex-grow-1 text-wrap" @onclick="() => ToggleSelected(habit.Id)">@habit.Title</span>
                        @if (habit.LastTimeDoneAt is not null)
                        {
                            <small class="input-group-text">@(habit.LastTimeDoneAt.Value.Date == DateTime.Now.Date ? habit.LastTimeDoneAt.Value.ToShortTimeString() : habit.LastTimeDoneAt.Value.ToShortDateString())</small>
                        }
                        <button class="btn btn-outline-primary" @onclick="() => HabitService.MarkAsDone(habit)"><i class="bi bi-check-square"></i></button>
                    </div>

                    <ItemsComponent Items=habit IsReadOnly=true />
                }
            </div>
        }
    }

</div>

@code {
    [Parameter]
    public long? Id { get; set; }

    [Parameter]
    public bool IsEmbedded { get; set; }

    TimeOnly DurationProxy
    {
        get => HabitService.SelectedHabit?.Duration ?? TimeOnly.MinValue;
        set
        {
            if (HabitService.SelectedHabit is not null)
                HabitService.SelectedHabit.Duration = value == TimeOnly.MinValue ? null : value;
        }
    }

    readonly string[] _days = { "Su", "Mo", "Tu", "We", "Th", "Fr", "Sa" };

    const long _ticksInDay = 864_000_000_000;
    const long _ticksInWeek = 6_048_000_000_000;

    DayOfWeek _firstDayOfWeek;
    DateTime _firstDayOfMonth;
    DateTime _calendarStart;
    long _calendarStartTicks;

    DateTime GetCalendarDay(int calendarWeek, int dayInWeek)
    {
        int days = calendarWeek * 7 + dayInWeek;

        return _calendarStart.AddDays(days);
    }

    Dictionary<long, DateTime> _dateByTicks = new();

    DateTime GetCalendarDayWithCaching(int calendarWeek, int dayInWeek)
    {
        long ticks = _calendarStartTicks + calendarWeek * _ticksInWeek + dayInWeek * _ticksInDay;

        if(!_dateByTicks.TryGetValue(ticks, out DateTime date))
        {
            date = new DateTime(ticks);
            _dateByTicks[ticks] = date;
        }

        return date;
    }

    DateTime GetFirstDayOfMonth(DateTime day)
    {
        return new DateTime(day.Year, day.Month, 1);
    }

    DateTime GetFirstDateOfWeek(DateTime day)
    {
        int diff = (7 + (day.DayOfWeek - _firstDayOfWeek)) % 7;
        return day.AddDays(-1 * diff).Date;
        //return day.AddDays((int)_firstDayOfWeek - (int)day.DayOfWeek);
    }

    void SetCalendarStartByFirstDayOfWeek(DateTime day, DayOfWeek firstDayOfWeek)
    {
        _firstDayOfWeek = firstDayOfWeek;
        _firstDayOfMonth = GetFirstDayOfMonth(day);
        _calendarStart = GetFirstDateOfWeek(day);
        _calendarStartTicks = _calendarStart.Ticks;
    }

    void SetCalendarStartByFirstDayOfMonth(DateTime day, DayOfWeek firstDayOfWeek)
    {
        _firstDayOfWeek = firstDayOfWeek;
        _firstDayOfMonth = GetFirstDayOfMonth(day);
        _calendarStart = GetFirstDateOfWeek(_firstDayOfMonth);
        _calendarStartTicks = _calendarStart.Ticks;
    }

    void SetCalendarStart(DateTime day)
    {
        _firstDayOfMonth = GetFirstDayOfMonth(day);
        _calendarStart = day;
        _firstDayOfWeek = day.DayOfWeek;
        _calendarStartTicks = _calendarStart.Ticks;
    }

    void SetCalendarStartToNextMonth()
    {
        _firstDayOfMonth = _firstDayOfMonth.AddMonths(1);
        _calendarStart = GetFirstDateOfWeek(_firstDayOfMonth);
        _calendarStartTicks = _calendarStart.Ticks;
    }

    void SetCalendarStartToPreviousMonth()
    {
        _firstDayOfMonth = _firstDayOfMonth.AddMonths(-1);
        _calendarStart = GetFirstDateOfWeek(_firstDayOfMonth);
        _calendarStartTicks = _calendarStart.Ticks;
    }

    void SetCalendarStartToNextWeek()
    {
        _calendarStart = _calendarStart.AddDays(7);
        _firstDayOfMonth = GetFirstDayOfMonth(_calendarStart);
        if (_calendarStart.Day > 14)
            _firstDayOfMonth = _firstDayOfMonth.AddMonths(1);
        _calendarStartTicks = _calendarStart.Ticks;
    }

    void SetCalendarStartToPreviousWeek()
    {
        _calendarStart = _calendarStart.AddDays(-7);
        _firstDayOfMonth = GetFirstDayOfMonth(_calendarStart);
        if (_calendarStart.Day > 14)
            _firstDayOfMonth = _firstDayOfMonth.AddMonths(1);
        _calendarStartTicks = _calendarStart.Ticks;
    }

    protected override async Task OnInitializedAsync()
    {
        await HabitService.Initialize();

        // TODO: in class Settings: DayOfWeek.Monday
        SetCalendarStartByFirstDayOfMonth(DateTime.Today, DayOfWeek.Monday);
    }

    protected override async Task OnParametersSetAsync()
    {
        HabitService.SetSelectedHabit(Id);
        await HabitService.LoadTimesDone(HabitService.SelectedHabit);
    }

    async Task ToggleSelected(long id)
    {
        if (IsEmbedded)
        {
            if (Id == id)
                Id = null;
            else
            {
                Id = id;
                HabitService.SetSelectedHabit(Id);
                await HabitService.LoadTimesDone(HabitService.SelectedHabit);
            }
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("skipNextScrollTo");

            if (Id == id)
                NavigationManager.NavigateTo("/habits");
            else
                NavigationManager.NavigateTo($"/habits/{id}");
        }
    }
}
