@page "/help"

@inject IStringLocalizer<Loc> Loc

<PageTitle>Help</PageTitle>

<div>
    <div class="my-1">

        <div class="list-group">
            <div class="list-group-item"><i class="bi bi-chevron-double-up"></i> @Loc["Previous week"]</div>
            <div class="list-group-item"><i class="bi bi-chevron-double-left"></i> @Loc["Previous month"]</div>
            <div class="list-group-item"><i class="bi bi-chevron-double-right"></i> @Loc["Next month"]</div>
            <div class="list-group-item"><i class="bi bi-chevron-double-down"></i> @Loc["Next week"]</div>
            <div class="list-group-item"><i class="bi bi-dash"></i> @Loc["Decrease"]</div>
            <div class="list-group-item"><i class="bi bi-plus"></i> @Loc["Increase"]</div>
            <div class="list-group-item"><i class="bi bi-floppy"></i> @Loc["Save"]</div>
            <div class="list-group-item"><i class="bi bi-trash"></i> @Loc["Delete"]</div>
            <div class="list-group-item"><i class="bi bi-check-square"></i> @Loc["Done"]</div>
            <div class="list-group-item"><i class="bi bi-play"></i> @Loc["Start"]</div>
            <div class="list-group-item"><i class="bi bi-stop"></i> @Loc["Stop"]</div>
            <div class="list-group-item"><i class="bi bi-plus-square"></i> @Loc["Add"]</div>
            <div class="list-group-item"><i class="bi bi-list"></i> @Loc["Menu"]</div>
            <div class="list-group-item"><i class="bi bi-card-text"></i> @Loc["Notes"]</div>
            <div class="list-group-item"><i class="bi bi-card-checklist"></i> @Loc["Tasks"]</div>
            <div class="list-group-item"><i class="bi bi-card-list"></i> @Loc["Habits"]</div>
            <div class="list-group-item"><i class="bi bi-x-square"></i> @Loc["Close"]</div>
            <div class="list-group-item"><i class="bi bi-globe"></i> @Loc["Website"]</div>
            <div class="list-group-item"><i class="bi bi-github"></i> @Loc["GitHub"]</div>
            <div class="list-group-item"><i class="bi bi-type"></i> @Loc["Match case"]</div>
        </div>

    </div>
</div>

@code {

}
