@page "/tasks"
@page "/tasks/{Id:long}"

@using Ididit.Blazor.Components
@using Ididit.Data
@using Ididit.Data.Models
@using Ididit.Services

@inject TaskService TaskService
@inject AppData AppData

<PageTitle>Tasks</PageTitle>

<div class="fs-1"><a href="/tasks/add"><i class="bi bi-plus-square"></i></a></div>

@if (TaskService.Tasks is null)
{
    <p>Loading...</p>
}
else
{
    foreach (TaskModel task in TaskService.Tasks.Where(t => !t.IsDeleted))
    {
        <div class="bg-body-tertiary my-1 p-1">
            @if (task.Id == Id)
            {
                <p>
                    <span>Priority: @AppData.GetPriorityTitle(task.Priority)</span>
                    <a href="/tasks">@task.Title</a>
                    <a href="/tasks/@task.Id/update"><i class="bi bi-pencil-square"></i></a>
                    <button @onclick="() => TaskService.DeleteTask(task)"><i class="bi bi-trash"></i></button>
                    <button @onclick="() => TaskService.MarkAsDone(task)"><i class="bi bi-check-square"></i></button>
                </p>

                <ItemsComponent Items=task />

                if (task.Date is not null)
                {
                    <small>Date: @task.Date</small>
                }

                if (task.StartedAt is not null)
                {
                    <small>StartedAt: @task.StartedAt</small>
                }

                if (task.CompletedAt is not null)
                {
                    <small>CompletedAt: @task.CompletedAt</small>
                }

                <div>
                    <small>Category: @AppData.GetCategoryTitle(task.CategoryId)</small>
                </div>

                <div>
                    <small>Created: @task.CreatedAt</small>
                    <small>Updated: @task.UpdatedAt</small>
                </div>
            }
            else
            {
                <p>
                    <span>Priority: @AppData.GetPriorityTitle(task.Priority)</span>
                    <a href="/tasks/@task.Id">@task.Title</a>
                    <button @onclick="() => TaskService.MarkAsDone(task)"><i class="bi bi-check-square"></i></button>
                </p>

                <ItemsComponent Items=task IsReadOnly=true />
            }
        </div>
    }
}

@code {
    [Parameter]
    public long? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await TaskService.Initialize();
    }

    protected override void OnParametersSet()
    {
        TaskService.SetSelectedTask(Id);
    }
}
