@using Ididit.Data
@using Ididit.Data.Models
@using Ididit.Services

@inject HabitService HabitService
@inject SettingsService SettingsService

<div>
    <div class="input-group flex-nowrap">
        <PriorityComponent Model="Habit" />
        <InputText class="form-control" Value="@Habit.Title" ValueExpression="() => Habit.Title" ValueChanged="(string title) => SaveTitle(Habit, title)" />
        <button class="btn btn-outline-primary" @onclick="() => CloseSelected.InvokeAsync()"><i class="bi bi-floppy"></i></button>
        <button class="btn btn-outline-primary" @onclick="() => HabitService.DeleteHabit(Habit)"><i class="bi bi-trash"></i></button>
        @if (!SettingsService.Settings.ShowLargeCalendar)
        {
            <button class="btn btn-outline-primary" @onclick="() => HabitService.MarkAsDone(Habit)"><i class="bi bi-check-square"></i></button>
        }
    </div>

    <ItemsComponent Items=Habit />

    @if (SettingsService.Settings.ShowLargeCalendar)
    {
        <div class="input-group-text p-0 border-0 rounded-0">
            <div class="mx-auto">
                <CalendarComponent Habit="Habit" HabitChanged="StateHasChanged" DisplayMonth />
            </div>
        </div>
    }

    <div class="input-group">
        <label class="input-group-text" for="countInput">Repeat</label>
        <InputNumber class="form-control" id="countInput" Value="Habit.RepeatCount" ValueExpression="() => Habit.RepeatCount" ValueChanged="(int repeatCount) => SaveRepeatCount(Habit, repeatCount)" />

        <label class="input-group-text" for="intervalInput">every</label>
        <InputNumber class="form-control" id="intervalInput" Value="Habit.RepeatInterval" ValueExpression="() => Habit.RepeatInterval" ValueChanged="(int repeatInterval) => SaveRepeatInterval(Habit, repeatInterval)" />

        <InputSelect class="form-select" Value="Habit.RepeatPeriod" ValueExpression="() => Habit.RepeatPeriod" ValueChanged="(Period repeatPeriod) => SaveRepeatPeriod(Habit, repeatPeriod)">
            @foreach (Period period in Enum.GetValues<Period>())
            {
                <option @key="period" value="@period">@period</option>
            }
        </InputSelect>
    </div>

    <div class="input-group">
        <label class="input-group-text" for="durationInput">Duration</label>
        <InputDate class="form-control" id="durationInput" Value="Habit.DurationProxy" ValueExpression="() => Habit.DurationProxy" ValueChanged="(TimeOnly duration) => SaveDuration(Habit, duration)" Type="InputDateType.Time" />
    </div>

    @if (Habit.TimesDone is not null && Habit.LastTimeDoneAt is not null)
    {
        <div class="p-1 border rounded-0">
            <small>Completed @Habit.TimesDone.Count times, last time on @Habit.LastTimeDoneAt</small>
        </div>
    }

    <CategoryComponent Model="Habit" />

    <div class="p-1 border rounded-0">
        <small class="d-inline-block mx-1">Created: @Habit.CreatedAt</small>
        <small class="d-inline-block mx-1">Updated: @Habit.UpdatedAt</small>
    </div>
</div>

@code {
    [EditorRequired]
    [Parameter]
    public HabitModel Habit { get; set; }

    [Parameter]
    public EventCallback CloseSelected { get; set; }

    async Task SaveTitle(HabitModel habit, string title)
    {
        habit.Title = title;

        await HabitService.UpdateHabit();
    }

    async Task SaveRepeatCount(HabitModel habit, int repeatCount)
    {
        habit.RepeatCount = repeatCount;

        await HabitService.UpdateHabit();
    }

    async Task SaveRepeatInterval(HabitModel habit, int repeatInterval)
    {
        habit.RepeatInterval = repeatInterval;

        await HabitService.UpdateHabit();
    }

    async Task SaveRepeatPeriod(HabitModel habit, Period repeatPeriod)
    {
        habit.RepeatPeriod = repeatPeriod;

        await HabitService.UpdateHabit();
    }

    async Task SaveDuration(HabitModel habit, TimeOnly duration)
    {
        habit.DurationProxy = duration;

        await HabitService.UpdateHabit();
    }
}
