@using Ididit.Data
@using Ididit.Data.Models
@using Ididit.Services

@inject HabitService HabitService
@inject SettingsService SettingsService

<div>
    <div class="input-group flex-nowrap">
        <PriorityComponent Model="Habit" />
        <InputText class="form-control" Value="@Habit.Title" ValueExpression="() => Habit.Title" ValueChanged="(string title) => SaveTitle(Habit, title)" />
        <button class="btn btn-outline-primary" @onclick="() => CloseSelected.InvokeAsync()"><i class="bi bi-floppy"></i></button>
        <button class="btn btn-outline-primary" @onclick="() => HabitService.DeleteHabit(Habit)"><i class="bi bi-trash"></i></button>
        @if (!SettingsService.Settings.ShowLargeCalendar)
        {
            <button class="btn btn-outline-primary" @onclick="() => HabitService.MarkAsDone(Habit)"><i class="bi bi-check-square"></i></button>
        }
    </div>

    <ItemsComponent Items=Habit />

    @if (SettingsService.Settings.ShowLargeCalendar)
    {
        <div class="input-group-text p-0 border-0 rounded-0">
            <div class="mx-auto">
                <CalendarComponent Habit="Habit" HabitChanged="StateHasChanged" DisplayMonth />
            </div>
        </div>
    }

    <div class="input-group">
        <label class="input-group-text" for="countInput">Repeat</label>
        <InputNumber class="form-control" id="countInput" Value="Habit.RepeatCount" ValueExpression="() => Habit.RepeatCount" ValueChanged="(int repeatCount) => SaveRepeatCount(Habit, repeatCount)" />

        <label class="input-group-text" for="intervalInput">every</label>
        <InputNumber class="form-control" id="intervalInput" Value="Habit.RepeatInterval" ValueExpression="() => Habit.RepeatInterval" ValueChanged="(int repeatInterval) => SaveRepeatInterval(Habit, repeatInterval)" />

        <InputSelect class="form-select" Value="Habit.RepeatPeriod" ValueExpression="() => Habit.RepeatPeriod" ValueChanged="(Period repeatPeriod) => SaveRepeatPeriod(Habit, repeatPeriod)">
            @foreach (Period period in Enum.GetValues<Period>())
            {
                <option @key="period" value="@period">@period</option>
            }
        </InputSelect>
    </div>

    <div class="input-group">
        <label class="input-group-text" for="durationInput">Duration</label>
        <InputDate class="form-control" id="durationInput" Value="Habit.DurationProxy" ValueExpression="() => Habit.DurationProxy" ValueChanged="(TimeOnly duration) => SaveDuration(Habit, duration)" Type="InputDateType.Time" />
    </div>

    <div class="input-group flex-nowrap">
        @if (_timer is null)
        {
            <span class="input-group-text flex-grow-1">Start timer</span>
            <button class="btn btn-outline-primary" @onclick="StartTimer"><i class="bi bi-play"></i></button>
        }
        else
        {
            <span class="input-group-text flex-grow-1">@_elapsedTime.ToString(@"hh\:mm\:ss")</span>
            <button class="btn btn-outline-primary" @onclick="StopTimer"><i class="bi bi-stop"></i></button>
        }
    </div>

    <div class="p-1 border rounded-0">
        <div>Total time spent:</div>
        <div>Average time spent:</div>
        <div>Average interval: @Habit.AverageInterval.ToString(@"hh\:mm\:ss")</div>
        <div>Average interval ratio: @Habit.ElapsedTimeToAverageIntervalRatio.ToString("N0")%</div>
        @if (Habit.ElapsedTimeToAverageIntervalRatio > 100.0)
        {
            <div>Average interval overdue: @((Habit.ElapsedTime - Habit.AverageInterval).ToString(@"hh\:mm\:ss"))</div>
        }
    </div>

    @if (Habit.TimesDone is not null && Habit.LastTimeDoneAt is not null)
    {
        <div class="p-1 border rounded-0">
            <small>Completed @Habit.TimesDone.Count times, last time on @Habit.LastTimeDoneAt</small>
        </div>
    }

    <CategoryComponent Model="Habit" />

    <div class="p-1 border rounded-0">
        <small class="d-inline-block mx-1">Created: @Habit.CreatedAt</small>
        <small class="d-inline-block mx-1">Updated: @Habit.UpdatedAt</small>
    </div>
</div>

@code {
    [EditorRequired]
    [Parameter]
    public HabitModel Habit { get; set; }

    [Parameter]
    public EventCallback CloseSelected { get; set; }

    PeriodicTimer? _timer;
    TimeSpan _elapsedTime;
    DateTime _taskStartedTime;

    async Task StartTimer()
    {
        if (Habit is null)
            return;

        TimeSpan? duration = Habit.Duration?.ToTimeSpan();

        await HabitService.Start(Habit);

        _taskStartedTime = DateTime.Now;

        _timer = new PeriodicTimer(TimeSpan.FromSeconds(1));

        while (_timer is not null && await _timer.WaitForNextTickAsync())
        {
            _elapsedTime = DateTime.Now - _taskStartedTime;

            if (duration is not null && _elapsedTime >= duration)
            {
                await StopTimer();
            }

            await InvokeAsync(StateHasChanged);
        }
    }

    async Task StopTimer()
    {
        if (Habit is null || _timer is null)
            return;

        await HabitService.MarkAsDone(Habit);

        _timer.Dispose();
        _timer = null;
    }

    public void Dispose()
    {
        _timer?.Dispose();
    }

    async Task SaveTitle(HabitModel habit, string title)
    {
        habit.Title = title;

        await HabitService.UpdateHabit();
    }

    async Task SaveRepeatCount(HabitModel habit, int repeatCount)
    {
        habit.RepeatCount = repeatCount;

        await HabitService.UpdateHabit();
    }

    async Task SaveRepeatInterval(HabitModel habit, int repeatInterval)
    {
        habit.RepeatInterval = repeatInterval;

        await HabitService.UpdateHabit();
    }

    async Task SaveRepeatPeriod(HabitModel habit, Period repeatPeriod)
    {
        habit.RepeatPeriod = repeatPeriod;

        await HabitService.UpdateHabit();
    }

    async Task SaveDuration(HabitModel habit, TimeOnly duration)
    {
        habit.DurationProxy = duration;

        await HabitService.UpdateHabit();
    }
}
