@using Ididit.Data.Models
@using Ididit.Services

@inject ItemService ItemService

@if (!IsReadOnly && ItemService.NewItem is not null)
{
    <div>
        <InputTextImmediate @bind-Value="ItemService.NewItem.Title" placeholder="Title" />

        <button class="btn btn-primary" @onclick="() => ItemService.AddItem(Items)" disabled="@string.IsNullOrWhiteSpace(ItemService.NewItem.Title)"><i class="bi bi-plus-square"></i></button>
    </div>
}

@if (Items?.Items is not null)
{
    foreach (ItemModel item in Items.Items)
    {
        <div class="form-check">
            <InputCheckbox id="@item.Id" class="form-check-input" Value="item.IsDone" ValueExpression="() => item.IsDone" ValueChanged="(bool done) => ItemService.SetIsDone(item, done)" />
            @if (IsReadOnly)
            {
                <label for="@item.Id" class="form-check-label">@item.Title</label>
            }
            else
            {
                @if (item == ItemService.SelectedItem)
                {
                    <InputText @ref="inputElement" Value="@item.Title" ValueExpression="() => item.Title" ValueChanged="(string title) => ItemService.UpdateItem(title)" @onfocusout="(args) => ItemService.SelectedItem = null" />
                }
                else
                {
                    <span class="form-check-label" @onclick="() => { ItemService.SelectedItem = item; shouldFocus = true; }">@item.Title</span>
                }
                <button class="btn btn-primary" @onclick="() => ItemService.DeleteItem(Items, item)"><i class="bi bi-trash"></i></button>
            }
        </div>
    }
}

@code {
    [EditorRequired]
    [Parameter]
    public ItemsModel? Items { get; set; }

    [Parameter]
    public bool IsReadOnly { get; set; }

    InputText? inputElement;

    bool shouldFocus;

    protected override async Task OnParametersSetAsync()
    {
        await ItemService.Initialize(Items);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (shouldFocus && inputElement?.Element is not null)
        {
            shouldFocus = false;
            await inputElement.Element.Value.FocusAsync();
        }
    }
}
